stages:
  - runSAST
run-sast-job:
  stage: runSAST
  image: maven:3.8.5-openjdk-11-slim
  script: |
    mvn verify package sonar:sonar -Dsonar.host.url=https://sonarcloud.io/ -Dsonar.organization=abhaydevsecops -D.sonar.projectkey=abhaysecdevops-D.sonar     login=36604b728e3b739c7e77c7a7c4864648d313573b