stages:
  - sast
  - sca

sast_scan:
  image: docker:stable
  stage: sast
  allow_failure: true
  variables:
    DOCKER_DRIVER: overlay2
  services:
    - docker:stable-dind
  script:
    - apk add py-pip
    - pip install bandit
    - bandit -r -f json -o bandit_result.json --exit-zero app/
  artifacts:
    paths: [bandit_result.json]
    expire_in: 1 week

semgrep:
  image: returntocorp/semgrep-agent:v1
  stage: sast
  script: semgrep-agent
  allow_failure: true
  variables:
    SEMGREP_RULES: >-
      p/security-audit
      p/secrets
      p/ci
      p/python
